<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:replace="~{/layout/index :: dynamic(~{::main})}">

<head>
	<meta charset="UTF-8">
	<!-- <title th:replace="${title}"></title> -->
</head>

<body>
	<main  class="container w-100 mx-auto my-2" style="max-width: 1100px;">

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sản phẩm chi tiết</li>
      </ol>
    </nav>
    <h1 class="d-inline" style="font-size: 18px;">[[${items.name}]]</h1>
    <div class="text-warning d-inline p-2">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <p class="text-primary d-inline p-2">41 <span>đánh giá</span></p>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-6">
        <img th:src="@{|/assets/images/product/${items.image}|}" width="525px" height="350px" alt="Ảnh sản phẩm"
          class="img-fluid" />
          <div class="m-4">
          <h2 style="font-size: 20px;">Thông tin sản phẩm:</h2>
    <p style="font-size: 16px;">
      {{product.description}}
    </p></div>
      </div>
      <div class="col-lg-6">
        <div>
          Giá tại <a href="" style="position: relative;">Hồ Chí Minh</a>
        </div>
        <h2 class="d-inline" style="color: #d0021c; font-size: 20px; font-weight: bold;" th:text="${#numbers.formatDecimal(items.price, 0, 'POINT', 0, 'POINT')}+ 'đ'" ></h2>
        <p class="d-inline " style="color: #666;text-decoration-line:line-through">Giá cũ</p>
        <p class="d-inline " style="color:#d0021c;">14%</p>
        <span class="text-start badge  ng-binding" style="font-size: 11px; background-color: #f1f1f1; color: #333;">Trả
          góp 0%</span>
        <button class="btn btn-primary d-block m-2" th:attr="ng-click=@{|addCart(${items.id})|}">Thêm vào giỏ hàng</button>

        <div class="table-responsive">
          <table class="table table-striped text-successtable-border border-light">
            <thead class="border-light">
              <tr>
                <th scope="col" style="font-size: 15px;">Cấu hình [[${items.name}]] </th>
                <th></th>
              </tr>
            </thead>
            <tbody style="font-size: 12px;">
              <tr>
                <th scope="row">MÀN HÌNH:</th>
                <td>OLED</td>
              </tr>
              <tr>
                <th scope="row">Chip:</th>
                <td>A13</td>
              </tr>
              <tr>
                <th scope="row">RAM:</th>
                <td>8GB</td>
              </tr>
              <tr>
                <th scope="row">DUNG LƯỢNG:</th>
                <td>256GB</td>
              </tr>
              <tr>
                <th scope="row">PIN</th>
                <td>4323 mAh</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card">
          <div class="card-header">
            Khuyến mãi:
          </div>
          <div class="card-body">
            <p> MacBook giảm đến 23% khi mua kèm iPhone/iPad/Apple Watch</p>
            <p> Tặng suất mua Máy lọc nước giảm đến 2,000,000đ.(click xem chi tiết)</p>
            <p> Tặng cho khách lần đầu mua hàng online tại web BachhoaXANH.com</p>
            <p> Mã giảm 100.000đ áp dụng đơn hàng từ 500.000đ</p>
            <p> FREEship đơn hàng từ 300.000đ hoặc thành viên VÀNG</p>
            <p> Giao nhanh trong 2 giờ</p>
          </div>
        </div>
      </div>




    </div>
    
  </main>

  <hr>	
</body>

</html>