	
<!-- NAVBAR -->
<nav th:fragment="_navbar">
    <form action="#">
        <div class="form-input">
            <input type="search" placeholder="Tìm kiếm...">
            <button type="submit" class="search-btn">
                <i class='bx bx-search'></i>
            </button>
        </div>
    </form>
    
    <!-- <a href="#" class="notification">
        <i class='bx bxs-bell' ></i>
        <span class="num">8</span>
    </a> -->
    <a href="#" class="profile"> <img src="img/">
    </a>
    <li class="nav-item dropdown"><a
        class="nav-link dropdown-toggle text-dark m-2 p-2"
         href="#" role="button"
        style="font-size: 14px;"
        data-bs-toggle="dropdown" aria-expanded="false">[[${session.account.fullname}]]</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/home">Trang chủ</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
        </ul></li>
</nav>
