<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:replace="~{/layout/index :: dynamic(~{::main})}">

<head>
	<meta charset="UTF-8">
	<!-- <title th:replace="${title}"></title> -->
</head>

<body>
	
	<main class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header" style="display: block; ">
					<h1 class="text-center fs-4 fw-blod ">Đăng
						Ký</h1>
					
				</div>
				<div class="modal-body">

					<div
						class="icon mb-4 d-flex align-items-center justify-content-center">
						<img th:src="@{/assets/images/login/login.png}" class="bi me-2" width="70"
							height="70">
					</div>
					
						
						<div th:if="${message}" class="alert alert-warning" role="alert" th:text=${message}>
							</div>
					
					<form  th:action="@{/saveOrUpdate}" method="post">
						<div class="form-floating">
							<input type="text" th:value="${fullname}" name="username" class="form-control"
								placeholder="Fullname"> <label for="fullname">Họ và tên
							</label>
						</div>
						<div class="form-floating my-2">
							<input th:value="${email}" name="username" class="form-control"
								placeholder="Email"> <label for="email">Email
								</label>
						</div>
						<div class="form-floating my-2">
							<input th:value="${username}" name="username" class="form-control"
								placeholder="Username"> <label for="username">Tên tài khoản
								</label>
						</div>
						<div class="form-floating my-2">
							<input th:value="${password}" type="password" name="password"
								class="form-control" placeholder="Password"> <label
								for="password">Mật khẩu</label>
						</div>
						<button class="w-100 btn btn-lg btn-primary" type="submit" >Đăng ký</button>
					</form>
					<div
						class="d-flex align-items-center justify-content-center mt-2 pb-4">
						<p class="mb-0 me-2">Bạn chưa có tài khoản?</p>
						<a style="color: blue;" data-bs-dismiss="modal"
							data-bs-toggle="modal" data-bs-target="#exampleModalToggle1">Đăng
							ký ngay</a>
					</div>

				</div>
			</div>
		</main>
	
</body>

</html>