<div th:fragment="edit-order"  class="modal fade" id="edit-order" data-bs-backdrop="static"
		aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
		tabindex="-1">
		<div class="modal-dialog modal-dialog-centered" >
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalToggleLabel">Cập nhật đơn hàng</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
<!--					<div class="mb-3 text-center">
						<label for="image">
					<img ng-src="{{'/assets/images/product/'+form.image}}" style="max-width:100%;height:200px">
				</label>
					</div>
						<div class="mb-3">
							<label class="form-label">Ảnh sản phẩm:</label> 
							<input
								type="file" class="form-control" id="image" 
								onchange="angular.element(this).scope().imageChanged(this.files)" >
						</div>	-->			
									
						<div class="mb-3">
							<label class="form-label">Mã hóa đơn:</label> 
							<input ng-model="form.id" type="text" class="form-control" readonly>
						</div>
						<div class="mb-3">
							<label class="form-label">Tổng hóa đơn:</label> 
							<input ng-model="form.total" type="number" class="form-control"
								readonly>
						</div>
						<div class="mb-3">
							<label class="form-label">Địa chỉ giao hàng:</label> 
							<input ng-model="form.address" type="text" class="form-control" readonly>
						</div>
						<div class="mb-3">
							<label class="form-label">Trạng thái đơn hàng:</label> 
							<select ng-model="form.status" class="form-control">
									<option ng-value="true">Thành công</option>
									<option ng-value="false">Đang xử lí</option>						
							</select>
						</div>
					
<!--						<div id="error-message" class="text-danger"></div>-->
					<!--</form>-->
				</div>
				<div class="modal-footer">
<!--					<button type="button" class="btn btn-success" ng-disabled="form.id" 
						ng-click="create()">Thêm</button>
					<button type="button" class="btn btn-primary" ng-disabled="form.id"
						ng-click="update()">Làm mới</button>-->
						<button type="button" class="btn btn-primary"
						ng-click="updateorder()">Cập nhật</button>
				</div>
			</div>
		</div>
	</div>